
<h1 class="p-4 shadow-lg font-bold">
    List installed components
</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <app-ccm3-env [artifacts]="artifacts" stage="Test"></app-ccm3-env>
    <app-ccm3-env [artifacts]="artifacts" stage="Int"></app-ccm3-env>
    <app-ccm3-env [artifacts]="artifacts" stage="Acc"></app-ccm3-env>
    <app-ccm3-env [artifacts]="artifacts" stage="Prod"></app-ccm3-env>
</div>

<!--
<div *ngFor="let artifact of artifacts" class="shadow-lg">
    <p >artifact: {{ artifact.artifactId }}</p>
    <p >stage: {{ artifact.stage }}</p>
    <p >version: {{ artifact.version }}</p>
    <p >date: {{ artifact.date }}</p>
    <p >ttime: {{ artifact.ttime }}</p>
    <p >status: {{ artifact.status }}</p>
</div> -->
